/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */

#login {
  padding-top: 50px;
  .form-wrap {
    /*width: 30%;*/
    margin: 0 auto;
  }
  h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .form-group {
    margin-bottom: 25px;
  }
  .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    &.show:before {
      content: '\e013';
      color: #1fa67b;
      font-size: 17px;
      margin: 1px 0 0 3px;
      position: absolute;
      pointer-events: none;
      font-family: 'Glyphicons Halflings';
    }
    .character-checkbox {
      width: 25px;
      height: 25px;
      cursor: pointer;
      border-radius: 3px;
      border: 1px solid #ccc;
      vertical-align: middle;
      display: inline-block;
    }
    .label {
      color: #6d6d6d;
      font-size: 13px;
      font-weight: normal;
    }
  }
  .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .forget {
    font-size: 13px;
    text-align: center;
    display: block;
  }
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */

.form-control {
  color: #212121;
}

.btn-custom {
  color: #fff;
  background-color: #1fa67b;
  &:hover, &:focus {
    color: #fff;
  }
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */

#footer {
  color: #6d6d6d;
  font-size: 12px;
  text-align: center;
  p {
    margin-bottom: 0;
  }
  a {
    color: inherit;
  }
}

.help-inline {
  color: #de413d;
}
