blockquote {
  &.jumbotron-blockquote {
    border-left: 5px solid #d2d6d7;
  }
  &.jumbotron-blockquote-reverse {
    border-right: 5px solid #d2d6d7;
  }
}

main {
  min-height: 520px;
}

#dashboard .side-bar div.list-group a.list-group-item {
  padding: 6px 14px;
  font-size: 14px;
}

.nav-user-image {
  width: 35px;
  height: 35px;
  margin-top: 12px;
}

.tickets_table .btn-status {
  padding: 3px 5px 3px 8px;
}

#loading-bar-container {
  #loading-bar .bar {
    /*background: #18bc9c;*/
    top: 60px;
    height: 4px;
  }
  #loading-bar-spinner {
    .spinner-icon {
      /*border-top-color: #18bc9c !important;*/
      /*border-left-color: #18bc9c !important;*/
    }
    top: 70px;
  }
}

.navbar-bottom-seperator {
  margin-bottom: 85px;
}

.pdf-download-form table tr td span.text-info {
  color: #18bc9c;
}
