<h1 class="page-header">Reset your password</h1>

<div ng-controller="PasswordsController">
  <br />
  <div class="row">
    <div class="col-md-6">
      <form action="javascript:void(0);" ng-submit="resetPassword();">
        <div class="form-group">
          <label for="exampleInputName2">Email</label>
          <input type="email" class="form-control" ng-model="parameters.email" placeholder="Enter Password">
        </div>

        <button type="submit" class="btn btn-info">Reset</button>
      </form>
    </div>
  </div>
</div>
