<div class="passwordSetup" ng-controller="PasswordsController">
  <h1 class="text-center page-header" ng-hide="is_new_user">Setup a new password</h1>
  <h1 class="text-center page-header" ng-show="is_new_user">Update your profile</h1>
  <br />
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <form action="javascript:void(0);" ng-submit="updatePassword();">
        <div ng-if="is_new_user">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputName2">First Name</label>
                <input type="text" class="form-control" ng-model="parameters.first_name" placeholder="Enter First Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputName2">Last Name</label>
                <input type="text" class="form-control" ng-model="parameters.last_name" placeholder="Enter Last Name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputName2">Contact</label>
            <input type="text" class="form-control" ng-model="parameters.contact" placeholder="Enter Contact">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputName2">New Password</label>
          <input type="password" class="form-control" ng-model="parameters.password" placeholder="Enter Password">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail2">Repeat Password</label>
          <input type="password" class="form-control" ng-model="parameters.password_confirmation" placeholder="Password confirmation">
        </div>
        <div class="form-group" ng-if="is_new_user">
          <label for="exampleInputFile">File input</label>
          <input name="file" type="file" ngf-select ng-model="parameters.avatar" id="exampleInputFile">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-info">Save my account</button>
        </div>
      </form>
    </div>
  </div>
</div>
