<section>
    <div class="container">
    	<div class="row">
  	    <div class="col-md-6">
    	    <div  id="login" class="form-wrap">
            <h1>Log in with your email account</h1>
            <form role="form" name="loginForm" ng-submit="loginForm.$valid && auth.loginUser(loginForm);" action="javascript:;" method="post" id="login-form" autocomplete="off">
                <div class="form-group" ng-class="{false:'has-error'}[loginForm.email.$valid]">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" ng-model="auth.email" name="email" id="email" required class="form-control" placeholder="somebody@example.com">
                    <span class="help-inline" ng-hide="loginForm.email.$valid">Email can't be blank</span>
                </div>
                <div class="form-group" ng-class="{false:'has-error'}[loginForm.password.$valid]">
                    <label for="key" class="sr-only">Password</label>
                    <input type="password" ng-model="auth.password" name="password" required id="key" class="form-control" placeholder="Password">
                    <span class="help-inline" ng-hide="loginForm.password.$valid">Password can't be blank</span>
                </div>
                <!-- <div class="checkbox">
                  <label>
                    <input type="checkbox"> Remember me
                  </label>
                </div> -->
                <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">
            </form>
            <a href="#/users/reset_password" class="forget">Forgot your password?</a>
            <hr>
    	    </div>
    		</div>
        <div class="col-md-6">
          <blockquote class="blockquote blockquote-reverse">
            <h1 class="page-header">Lorem ipsum</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <br />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </blockquote>
        </div>
    	</div>
    </div>
</section>
