<blockquote class="blockquote blockquote-reverse jumbotron-blockquote-reverse">
  <h2>Create a free account</h2>
</blockquote>

<div ng-controller="RegistrationsController as register" enctype="multipart/form-data">
  <form ng-submit="register.signUp()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">* First Name</label>
          <input type="text" ng-model="register.parameters.first_name" class="form-control" id="exampleInputEmail1" placeholder="First Name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">* Last Name</label>
          <input type="text" ng-model="register.parameters.last_name" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">* Email address</label>
      <input type="email" ng-model="register.parameters.email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">* Password</label>
      <input type="password" ng-model="register.parameters.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">* Password Comfirmation</label>
      <input type="password" ng-model="register.parameters.password_confirmation" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Contact #</label>
      <input type="text" ng-model="register.parameters.contact" class="form-control" id="exampleInputPassword1" placeholder="Phone No.">
    </div>

    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input name="file" type="file" ngf-select ng-model="register.parameters.avatar" id="exampleInputFile">
    </div>
    <button type="submit" class="btn text-center btn-lg btn-primary">Sign Up</button>
    Or
    <a href="#/users/sign_in">Login</a>
  </form>
</div>
