<form  action="javascript:void(0);" method="post">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Create a new ticket</h3>
  </div>

  <div class="modal-body" id="modal-body">
    <div class="form-group">
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" ng-model="parameters.title" class="form-control" id="exampleInputEmail1" placeholder="Tilte of ticket">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <textarea name="name" ng-model="parameters.description" class="form-control" placeholder="Some description" rows="6" cols="40"></textarea>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Tags</label>
            <tags-input class="bootstrap"
                  ng-model="parameters.tags"
                  placeholder="Add Tags"
                  add-on-paste="true"
                  replace-spaces-with-dashes="false">
              <auto-complete source="ticketService.loadTags($query);"
                             min-length="0"
                             debounce-delay="0"
                             max-results="10"></auto-complete>
            </tags-input>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Priority</label>
            <select ng-model="parameters.priority" class="form-control">
              <option value>--Select--</option>
              <option ng-repeat="item in priorities" value="{{item}}">{{item}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeTicketForm()" data-dismiss="modal">Close</button>
    <div class="btn-group">
      <button type="button" ng-click="saveNewTicket();" class="btn btn-danger"><i class="fa fa-plus-square" aria-hidden="true"></i> Save as New</button>
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0);" ng-click="saveNewTicket('open');"><i class="fa fa-external-link" aria-hidden="true"></i> Save as Open</a></li>
        <li><a href="javascript:void(0);" ng-click="saveNewTicket('closed');"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Save as Closed</a></li>
      </ul>
    </div>
  </div>
</form>
