blockquote.jumbotron-blockquote {
  border-left: 5px solid #d2d6d7; }

blockquote.jumbotron-blockquote-reverse {
  border-right: 5px solid #d2d6d7; }

main {
  min-height: 520px; }

#dashboard .side-bar div.list-group a.list-group-item {
  padding: 6px 14px;
  font-size: 14px; }

.nav-user-image {
  width: 35px;
  height: 35px;
  margin-top: 12px; }

.tickets_table .btn-status {
  padding: 3px 5px 3px 8px; }

#loading-bar-container #loading-bar .bar {
  /*background: #18bc9c;*/
  top: 60px;
  height: 4px; }

#loading-bar-container #loading-bar-spinner {
  top: 70px; }
  #loading-bar-container #loading-bar-spinner .spinner-icon {
    /*border-top-color: #18bc9c !important;*/
    /*border-left-color: #18bc9c !important;*/ }

.navbar-bottom-seperator {
  margin-bottom: 85px; }

.pdf-download-form table tr td span.text-info {
  color: #18bc9c; }

/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
#login {
  padding-top: 50px; }
  #login .form-wrap {
    /*width: 30%;*/
    margin: 0 auto; }
  #login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px; }
  #login .form-group {
    margin-bottom: 25px; }
  #login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
    #login .checkbox.show:before {
      content: '\e013';
      color: #1fa67b;
      font-size: 17px;
      margin: 1px 0 0 3px;
      position: absolute;
      pointer-events: none;
      font-family: 'Glyphicons Halflings'; }
    #login .checkbox .character-checkbox {
      width: 25px;
      height: 25px;
      cursor: pointer;
      border-radius: 3px;
      border: 1px solid #ccc;
      vertical-align: middle;
      display: inline-block; }
    #login .checkbox .label {
      color: #6d6d6d;
      font-size: 13px;
      font-weight: normal; }
  #login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px; }
  #login .forget {
    font-size: 13px;
    text-align: center;
    display: block; }

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
  color: #212121; }

.btn-custom {
  color: #fff;
  background-color: #1fa67b; }
  .btn-custom:hover, .btn-custom:focus {
    color: #fff; }

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
  color: #6d6d6d;
  font-size: 12px;
  text-align: center; }
  #footer p {
    margin-bottom: 0; }
  #footer a {
    color: inherit; }

.help-inline {
  color: #de413d; }
