<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr/>
      <div class="col-md-7">
        <a href="#">Terms of Service</a>
        <a href="#">Privacy</a>
        <a href="#">Security</a>
      </div>
      <div class="col-md-5">
        <p class="muted pull-right">© 2016 f3 Help Desk. All rights reserved</p>
      </div>
    </div>
  </div>
</div>
