<nav class="navbar navbar-default navbar-fixed-top" ng-if="hideNav == false">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Help Desk</a>
    </div>

    <div ng-controller="AuthenticationsController as auth" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-hide="auth.session.isAuthenticated()">
        <li ng-class="location.path() == '/' ? 'active' : ''"><a href="#/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#aboutPageModal">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-class="location.path() == '/users/sign_in' ? 'active' : ''" ng-hide="auth.session.isAuthenticated()"><a href="#/users/sign_in">Login</a></li>
        <li ng-show="auth.session.isAuthenticated() && authentication.user.avatar">
          <img src="{{authentication.user.avatar.thumb}}" class="nav-user-image" alt="" />
        </li>
        <li ng-show="auth.session.isAuthenticated()"><a href="javascript:void(0);">{{authentication.user.full_name}}</a></li>
        <li ng-show="auth.session.isAuthenticated()"><a href="javascript:void(0);" ng-click="auth.session.logout();">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
