<blockquote class="blockquote">
  <h4>
    Priority
    <i class="fa fa-exclamation-circle pull-right" aria-hidden="true"></i>
  </h4>
  <div class="list-group">
    <a href="javascript:void(0);" ng-click="fetchTicketsByScope('high_priority')" ng-class="currentScope == 'high_priority' ? 'active' : ''" class="list-group-item">
      <span class="badge">{{tickets.high_priority_count}}</span>
      High
    </a>
    <a href="javascript:void(0);" ng-click="fetchTicketsByScope('medium_priority')" ng-class="currentScope == 'medium_priority' ? 'active' : ''" class="list-group-item">
      <span class="badge">{{tickets.medium_priority_count}}</span>
      Medium
    </a>
    <a href="javascript:void(0);" ng-click="fetchTicketsByScope('low_priority')" ng-class="currentScope == 'low_priority' ? 'active' : ''" class="list-group-item">
      <span class="badge">{{tickets.low_priority_count}}</span>
      Low
    </a>
  </div>
</blockquote>

<blockquote class="blockquote">
  <h4>
    Tags
    <i class="fa fa-tags pull-right" aria-hidden="true"></i>
  </h4>
  <tags-input class="bootstrap"
        ng-model="tags"
        ng-blur="fetchTicketsByScope(currentScope, {tag_list: tags})"
        ng-keyup="$event.keyCode == 13 && fetchTicketsByScope(currentScope, {tag_list: tags})"
        placeholder="Enter Tag name"
        add-on-paste="true"
        replace-spaces-with-dashes="false">
    <auto-complete source="ticketService.loadTags($query);"
                   min-length="0"
                   debounce-delay="0"
                   max-results="10">
    </auto-complete>
  </tags-input>
</blockquote>

<div ng-if="current_user.isCustomer()">
  <blockquote class="blockquote">
    <h4>
      Issues
      <i class="fa fa-tasks pull-right" aria-hidden="true"></i>
    </h4>
    <div class="list-group">
      <a href="javascript:void(0);" ng-click="fetchTicketsByScope('newly')" ng-class="currentScope == 'newly' ? 'active' : ''" class="list-group-item">
        <span class="badge">{{tickets.newly_count}}</span>
        New
      </a>
      <a href="javascript:void(0);" ng-click="fetchTicketsByScope('open')" ng-class="currentScope == 'open' ? 'active' : ''" class="list-group-item">
        <span class="badge">{{tickets.open_count}}</span>
        Open
      </a>
      <a href="javascript:void(0);" ng-click="fetchTicketsByScope('in_process')" ng-class="currentScope == 'in_process' ? 'active' : ''" class="list-group-item">
        <span class="badge">{{tickets.in_process_count}}</span>
        In Process
      </a>
      <a href="javascript:void(0);" ng-click="fetchTicketsByScope('closed')" ng-class="currentScope == 'closed' ? 'active' : ''" class="list-group-item">
        <span class="badge">{{tickets.closed_count}}</span>
        Closed
      </a>
    </div>
  </blockquote>

  <blockquote class="blockquote">
    <h4>
      Assigned Agents
      <i class="fa fa-users pull-right" aria-hidden="true"></i>
    </h4>
    <div style="font-size: 14px;" class="alert alert-warning" ng-if="customerAgents.length === 0">
      There are no agents processing your tickets.
    </div>
    <div class="list-group" ng-if="customerAgents.length > 0" ng-controller="TicketsController">
      <a href="javascript:void(0);" ng-repeat="agent in customerAgents" class="list-group-item">
        {{agent.full_name}}
        <i class="glyphicon glyphicon-trash pull-right" ng-click="deleteAssignment($event, agent.id, current_user.data.id, 'customer')"></i>
      </a>
    </div>
  </blockquote>
</div>

<div ng-if="current_user.isAgent()">
  <blockquote class="blockquote">
    <h4>
      All Issues
      <i class="fa fa-tasks pull-right" aria-hidden="true"></i>
    </h4>
    <div class="list-group">
      <a href="javascript:void(0);" ng-click="fetchTicketsByScope('newly')" ng-class="currentScope == 'newly' ? 'active' : ''" class="list-group-item">
        <span class="badge">{{tickets.newly_count}}</span>
        New
      </a>
      <a href="javascript:void(0);" ng-click="fetchTicketsByScope('open')" ng-class="currentScope == 'open' ? 'active' : ''" class="list-group-item">
        <span class="badge">{{tickets.open_count}}</span>
        Open
      </a>
    </div>
  </blockquote>

  <blockquote class="blockquote">
    <h4>
      Issues Assigned To Me
      <i class="fa fa-tasks pull-right" aria-hidden="true"></i>
    </h4>
    <div class="list-group">
      <a href="javascript:void(0);" ng-click="fetchTicketsByScope('in_process', {assigned_to_me: true})" ng-class="currentScope == 'in_process' ? 'active' : ''" class="list-group-item">
        <span class="badge">{{tickets.in_process_count}}</span>
        Assigned
      </a>
      <a href="javascript:void(0);" ng-click="fetchTicketsByScope('closed', {assigned_to_me: true})" ng-class="currentScope == 'closed' ? 'active' : ''" class="list-group-item">
        <span class="badge">{{tickets.closed_count}}</span>
        Processed
      </a>
    </div>
  </blockquote>

  <blockquote class="blockquote">
    <h4>
      Assignees
      <i class="fa fa-users pull-right" aria-hidden="true"></i>
    </h4>
    <div style="font-size: 14px;" class="alert alert-warning" ng-if="customers.length === 0">
      There are no assignees present.
    </div>
    <div class="list-group">
      <a href="javascript:void(0);" ng-repeat="customer in customers" ng-if="customer" class="list-group-item">{{customer.full_name}}</a>
    </div>
  </blockquote>
</div>
