<div class="tickets_table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Ticket</td>
        <th>Priority</th>
        <th>Status</th>
        <th ng-show="currentScope === 'closed' || currentScope === 'in_process'">Assigned On</th>
        <th ng-if="currentUser.isAgent()">Created By</th>
        <th ng-if="currentUser.isAgent()" ng-hide="currentScope === 'closed' || currentScope === 'in_process'">Assign</th>
        <th ng-if="currentUser.isCustomer()">Assigned To</th>
        <th ng-if="currentUser.isCustomer()"></th>
        <th ng-if="currentUser.isCustomer()"></th>
      </tr>
    </thead>
    <tbody ng-controller="TicketsController">
      <tr ng-repeat="ticket in tickets">
        <td>{{ticket.id}}</td>
        <td>{{ticket.title}}</td>
        <td>{{ticket.priority}}</td>
        <td class="ticket_{{ticket.id}}_status"><div ticket-status status="ticket.status"></div></td>
        <th ng-show="currentScope === 'closed' || currentScope === 'in_process'">{{ticket.assigned_at}}</th>
        <td ng-if="currentUser.isAgent()">{{ticket.assignee_customer.full_name || "---"}}</td>
        <td ng-if="currentUser.isAgent()" ng-hide="currentScope === 'closed' || currentScope === 'in_process'">
          <a ng-if="ticket.status === 'newly' || ticket.status === 'open'" href="javascript:void(0);" ng-click="assignTicket(ticket.id, currentUser.data.id, ticket.assignee_customer.id);" class="btn btn-sm btn-success">Assign</a>
        </td>
        <td ng-if="currentUser.isCustomer()">{{ticket.assigned_agent.full_name || "---"}}</td>
        <td ng-if="currentUser.isCustomer()">
          <div class="btn-group">
            <button type="button" class="btn btn-info btn-sm btn-status"><i class="fa fa-plus-square" aria-hidden="true"></i> Set Status</button>
            <button type="button" class="btn btn-info btn-sm btn-status dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0);" ng-click="updateTicketStatus('open', ticket.id);"><i class="fa fa-external-link" aria-hidden="true"></i> Set to Open</a></li>
              <li><a href="javascript:void(0);" ng-click="updateTicketStatus('in_process', ticket.id);"><i class="fa fa-external-link" aria-hidden="true"></i> Set to In Process</a></li>
              <li><a href="javascript:void(0);" ng-click="updateTicketStatus('closed', ticket.id);"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Set to Closed</a></li>
            </ul>
          </div>
        </td>
        <td ng-if="currentUser.isCustomer()">
          <a href="javascript:void(0);" ng-click="deleteTicket($event, ticket.id)">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
