<h1 class="page-header">{{text}}</h1>

<div ng-if="current_user.isCustomer()">
  <script type="text/ng-template" id="newTicketModal.html">
    <div ng-include src="'app/templates/tickets/new.html'"></div>
  </script>

  <button type="button" name="button" ng-click="openTicketForm()" class="btn btn-warning">
    <i class="fa fa-ticket" aria-hidden="true"></i> File a new Ticket
  </button>
</div>

<br />
<div id="dashboard" ng-init="init()">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="form-group">
            <label for="exampleInputName2">Search By Title</label>
            <input type="text" ng-model='query' ng-keyup="fetchTicketsByScope(currentScope, {query: query})" class="form-control input-sm" id="exampleInputName2" placeholder="Enter Title">
          </div>
        </div>
        <div class="panel-body">
          <div class="side-bar">
            <div dashboard-side-bar></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{mainPanelTitle}} Tickets
        </div>

        <div class="panel-body">
          <div class="pdf-download-form" ng-if="current_user.isAgent() && tickets.ticketsData.length">
            <form class="form-inline" action="{{pdfGetURL | trusted}}" method="get" ng-show="currentScope === 'in_process' || currentScope === 'closed'">
              <input type="hidden" name="token" value="{{current_user.auth_token}}">
              <input type="hidden" name="scope" value="{{currentScope}}">
              <div class="form-group">
                <p class="input-group">
                  <input placeholder="Date you have been assigned" type="text" name='assigned_date' class="form-control input-sm" uib-datepicker-popup="{{dtPopUp.format}}" ng-model="dt" is-open="dtPopUp.opened" datepicker-options="dtPopUp.dateOptions" close-text="Close" alt-input-formats="dtPopUp.altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-sm" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
              <div class="form-group">
                <p class="input-group">
                  <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download</button>
                </p>
              </div>
            </form>
          </div>

          <div tickets-table user="current_user" currscope="currentScope" tickets="tickets.ticketsData"></div>
        </div>
      </div>
    </div>
  </div>
</div>
